body {
    background-color: #eeeff1;
    font-family: 'Andika', sans-serif;
    color: #1a1b1f;
    font-size: 21px;
    font-weight: 400;

}

h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 16px;
    margin-top: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;

}

h2.large {
    font-size: 55px;


}

.container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    align-items: center;

}

.container.alignTop {
    align-items: flex-start;
}


.container .col-6 {
    flex: 1;
}

.chips > span {
    padding: 10px 16px;
    margin: 5px;
    border: grey 2px solid;
    border-radius: 6px;
    display: inline-block;
    white-space: nowrap;
    line-height: 100%;
    font-family: Andale Mono, monospace;
    font-weight: 600;
    color: #323131;
    font-size: 17px;


}

.container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 45px;

}

input[type="submit"] {
    font-size: 20px;
    cursor: pointer;
    font-family: "Calisto MT";
}

input[type="submit"]:hover {
    background-color: rgb(189, 188, 188);
    box-shadow: 1px 2px 5px darkgrey;
}

#intro img {
    width: 350px;
    border-radius: 15px
}

@media (max-width: 980px) {
    #intro img {
        width: 100%;
    }

    h1, h2 {
        text-align: center;
    }

    #contactContainer {
        align-items: stretch !important;
    }
}


@media (min-width: 600px) {
    .formRow {
        display: flex;
        gap: 30px;
    }
}

@media (min-width: 480px) and (max-width: 980px) {
    .container:not(.wrapSmall) {
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    .container {
        flex-direction: column !important;
        gap: 25px;
    }
}

@media (min-width: 400px) and (max-width: 900px) {
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 28px;
    }

    .chips {

    }

    p > strong {
        font-size: 23px;

    }

    p > small {
        font-size: 16px;
    }

    .student, .studies {
        font-size: 22px;
    }

    h2 {
        font-size: 36px;
    }

    .studies {
        padding-top: 15px;
    }

    #contactContainer {

    }
}


form input, form textarea {
    width: 100%;
    padding: 20px 15px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16.5px;


}

form textarea {
    resize: vertical;
    max-height: 200px;
}

form label {
    color: #8f929e;
    font-size: 15px;

}

button {
    background-color: black;
    border-radius: 7px;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 12px 40px;
    font-weight: bold;
    margin-top: 15px;
}

.submissionResult {
    font-size: 40px;
    text-align: center;
}

.submissionResult.failed > span {
    border-bottom: 2px black solid;
    font-size: 25px;
}


#contactContainer {
    padding-top: 90px;
    padding-bottom: 90px;
    border: 6px grey solid;
    border-radius: 25px;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 90px;
}

#contactWrapper .submissionResult {
    display: none;
    animation: formSubmissionAnimation 250ms ease 0s normal forwards;
}

#contactWrapper.success .submissionResult.succeeded {
    display: block;
    font-size: 30px;
    vertical-align: center;

}

#contactWrapper.failure .submissionResult.failed {
    display: block;
}

#contactWrapper.success form,
#contactWrapper.failure form {
    display: none;

}

#contactWrapper.success,
#contactWrapper.failure {
    align-self: center;
}

@keyframes formSubmissionAnimation {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}